
{% extends 'base.html' %}

{% block contents %}

{% load static %}

<main role="main">

      <div>
        <img src="{% static 'img/bg_icecream_menu.gif' %}" alt="" style="width: 100%">
      </div>
      <div>
          <div class="container">
             <div class="text-center m-5">
                 <img src="{% static 'img/icon_title_1.png' %}" alt="">
                 <img src="{% static 'img/h_title_A.png' %}" alt="">
                 <img src="{% static 'img/icon_title_2.png' %}" alt="">
             </div>
          </div>
      </div>
      <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-3 p-0">

                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="https://www.baskinrobbins.co.kr/upload/product/1530776851.png" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="col-md-3 p-0">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">

                                <p class="card-text text-center">
                                    핑크퐁 상어가족
                                </p>
                                <div class="container text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">구매</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="{% static 'img/ice.png' %}" width="100%" alt="">

                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="container" >
               <div class="center-block m-auto" style="width:180px;">
                <nav aria-label="Page navigation example" >
                <ul class="pagination auto-margin auto-margin">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
                    </li>
                </ul>
            </nav>
               </div>
            </div>
        </div>

    </main>


{% endblock %}